.NotesContainer {
  height: 455px;
  width: 450px;
  background: #f1c75b;
  border-radius: 19px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #a6e059;
    border-radius: 20px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4bb1a6;
    border-radius: 20px;
  }
}

.Notesheading {
  color: #000;
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 105.688%; /* 40.161px */
  letter-spacing: 0.76px;
  padding-top: 10px;
}

.NotesText {
  height: 360px;
  width: 410px;
  border: none;
  background: transparent;
  color: #000;
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 105.688%; /* 22.194px */
  letter-spacing: 0.84px;
  resize: none;
}
.NotesText::placeholder {
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  color: #787777;
}
